#contact{
    width: 100vw;
    /* background: white; */
}
#contact .first {
    width: 100vw;
    height: 350px;
    background: rgb(222,236,131);
    /* margin-top: 100px;
     */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contact .headline{
    width: 250px;
    padding: 13px;
    /* margin: 0px auto; */
}




#contact .second {
    width: 100vw;
    /* height: 500px; */
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
}


#contact .second .contact-first-image{
    width: 350px;
    position: absolute;
    right: 40px;
    top: -100px;
    z-index: 1;
    animation: upAndDown 3s ease-in-out infinite;
}
#contact .second .parent-container{
    background: rgb(255,255,255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    z-index: 999 !important;

}


#contact .second h2{
    width: max-content;
    padding-top: 80px;
    margin-bottom: 10px;
    font-size: 15px;
}
#contact .second .top-container{
    width: 55%;
    padding-right: 8px;
    padding-bottom: 8px;
    height:600px; 
    margin: 5px auto;
    border-radius: 20px;
    background: rgb(209,209,209);
    margin-bottom: 50px;
    box-shadow: 2px 4px 8px rgba(209, 209, 209, 0.553);
}
#contact .second .top-container .top{
    width: 100%;
    padding: 50px 70px;
    height:100%; 
    border: 3px dotted rgb(42,95,61);
    border-radius: 20px;
    background: rgb(35,90,55);
    
}

#contact .second .top .left,
#contact .second .top .right{
    width: 48%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
   
}

#contact .second .top .left{
    margin-right: 20px;
}

#contact .second .top .block{
    width: 99%;
}

#contact .second .top label{
    color: rgb(255,255,255);
    margin-bottom: 3px;
}

#contact .second .top input,
#contact .second .top select,
#contact .second .top textarea{
    height: 40px;
    border-radius: 10px;
    border: 1px dashed rgb(126,165,139);
    background: rgb(38,104,60);
    box-shadow:  2px 2px 2px 2px rgba(22, 59, 35, 0.683);
}
#contact .second .top input:hover,
#contact .second .top select:hover,
#contact .second .top textarea:hover{
    animation: inputActivation 1.0s ;
}
#contact .second .top input::placeholder,
#contact .second .top select::placeholder,
#contact .second .top textarea::placeholder{
    padding-left: 10px;
    color: rgb(139,174,151);
}
#contact .second .top .left:last-of-type{
    margin-bottom: 50px;
}

#contact .second .top .btn{
    width: 50px;
    padding: 18px 100px;
    background: rgb(187,213,26);
    margin-left: 150px;
    border-radius: 20px;
    color: rgb(22,78,34);
}

#contact .second .bottom-container{
    width: 55%;
    padding-right: 8px;
    padding-bottom: 8px;
    height:300px; 
    margin: 5px auto;
    border-radius: 20px;
    background: rgb(209,209,209);
    margin-bottom: 100px;
    box-shadow: 2px 4px 8px rgba(209, 209, 209, 0.553);
}
#contact .second .bottom-container .bottom{
    width: 100%;
    padding: 50px;
    height:100%; 
    border: 3px dotted rgb(42,95,61);
    border-radius: 20px;
    background: rgb(35,90,55);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#contact .second .bottom-container .bottom .com{
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: rgb(255,255,255);
}
#contact .second .bottom-container .bottom .com .logo{
    color: rgb(187,213,26);
    border: none;
    background: rgb(35,90,55);
}
#contact .second .bottom-container .bottom .com  img.logo-image{
    color:  rgb(187,213,26);
    background: rgb(35,90,55);
}
@media (min-width:860px) and (max-width:1188px){
    #contact .second .top-container .top{
        width: 100%;
        padding: 30px 40px;
        height:100%; 
        
    }
    #contact .second .top .left,
    #contact .second .top .right{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
   
}
#contact .second .top .block{
    width: 96%;
}
#contact .second .top .btn{
    width: 30px;
    padding: 18px 70px;
    margin: 30px 25%;
    
}

}
@media (min-width:540px) and (max-width:859.9px){
    #contact .second .top-container{
        width: 75%;
        height:600px; 
        margin-bottom: 50px;
    }
    #contact .second .top-container .top{
        width: 100%;
        padding: 30px 40px;
        height:100%; 
        
    }
    #contact .second .top .left,
    #contact .second .top .right{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
   
}
#contact .second .top .block{
    width: 96%;
}
#contact .second .top .btn{
    width: 30px;
    padding: 18px 70px;
    margin: 30px 20%;
    
}


}
@media (min-width:540px) and (max-width:859.9px){
    #contact .second h2{
        align-content: center;
        font-size: 12px;
    }
    #contact .second .top-container .top{
        width: 100%;
        padding: 30px 40px;
        height:100%; 
        
    }
    #contact .second .top .left,
    #contact .second .top .right{
    width: 45%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
   
}
#contact .second .top .block{
    width: 96%;
}
#contact .second .top .btn{
    width: 30px;
    padding: 18px 70px;
    margin: 30px 25%;
    
}

}
@media (max-width:539.9px){
    #contact .second h2{
        font-size: 10px;
    }
    #contact .second .top-container{
        width: 55%;
        height:600px; 
        margin-bottom: 50px;
    }
    #contact .second .top-container .top{
        width: 100%;
        padding: 15px 20px;
        height:100%; 
        
    }
    #contact .second .top .left,
    #contact .second .top .right{
    width: 96%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 10px;
   
}
#contact .second .top .block{
    width: 96%;
}
#contact .second .top .btn{
    width: 20px;
    padding: 18px 50px;
    margin: 30px 8%;
    
}

}
