#home{
    width: 100vw;
    height: 4000px;
    position: relative;
}
#home .first{ 
    width: 100vw;
    height: 500px;
    background: rgb(12,34,20);
    color: rgb(174,245,197);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}
#home .first .empty-background{
    width: 100vw;
    height: 80px;
    /* transparent */
    background: transparent;
   
}
#home .first .path-to-download{
    width: 150px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#home .first h1{
    width: max-content;
    font-size: 18;
    padding: 8px;
    /* background: red; */
    border: 1px solid rgb(255, 255, 255);
}
#home .first .description{
    width: max-content;
    /* background: red; */
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
}
#home .first .description span{
    margin-left: -25px;
}
#home .first .more-description{
    width: max-content;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 80px;
    color: rgb(189,195,190);
}
#home .first h3{
    font-size: 15px;
    /* background: red; */
    width: 300px;
    padding-left: 80px;
    color: rgb(189,195,190);

}
#home .first .path-to-download{
    width: 380px;
    /* background: red; */
    padding-left: 50px;
    border-top: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 3px;
}
#home .first .img-path{
    width: 120px;
    
}

#home .first .coming-soon{
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
}
#home .second{
    background: url(../../assets/images/projects/bg.jpg);
    width: 100vw;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .second .second-heading{
    width: 180px;
    padding: 15px 18px;
    margin-top: 70px;
    font-size: 15px;
    background: rgb(203,216,116);
    border-radius: 25px;
    

}
#home .second .note{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700;
}
#home .second .second-container{
    width: 800px;
    height: 450px;
    background: rgb(190,197,194);
    border-radius: 20px;
    margin-top: 30px;
}
#home .second .second-container .inner-container{
    width: 99%;
    height: 99%; 
    background: rgb(97,190,201);
    border-radius: 20px;
    padding: 50px 25px ;
    display: flex;
    flex-direction: row;
   
}
#home .second .second-container .content{
    width: 60%;
}
#home .second .second-container img{
    width: 40%;
    height: 250px;
}
#home .second .inner-container .content article h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 14px;
}
#home .second .inner-container .content article p.invest-note{
    font-size: 23px;
    margin-bottom: 15px;
    font-weight: 600;
}
#home .second .inner-container .content article p.more-note{
    width: 80%;
    margin-bottom: 15px;
}
#home .second .inner-container .content .benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#home .second .inner-container .content .list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}#home .second .inner-container .content .list-content{
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#home .second .inner-container .content .list .list-item{
    width: 20px;
    height: 20px;
    background: rgb(22,59,35);
    border-radius: 20px;
    margin-right: 10px;
}
#home .second .inner-container .content .list .item-end{
    width: 13px;
    height: 23px;
    background: rgb(0,31,14);
    border-radius: 20px;
}
#home .third{
    width: 100vw;
    /* height: 500px; */
    background: url(../../assets/images/footer-bg.jpg);
    color: rgb(255, 255, 255);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .third h2{
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 5px;
}
#home .third p.info{
    font-size: 15.5px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}
#home .third .pic-info{
    width: 100%;
    /* height: 600px; */
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home .third .pic-info .left-img{
    margin-left: 50px;
    width: 40%;
}
#home .third .pic-info .right-content{
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home .third .pic-info .right-content .card{
    width: 73%;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    background: rgb(0,191,166);
    border-radius: 5px;

}
#home .third .pic-info .right-content .card img{
    width: 50px;
    margin-left: 15px;
} 
#home .fourth{
    width: 100vw;
    height: 850px;
    background: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#home .fourth h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#home .fourth p{
    margin-bottom: 15px;
    font-size: 18;
}
#home .fourth .card{
    width: 320px;
    height: 170px;
    background: white;
    border-radius:5px ;
    position: absolute;
}
#home .fourth .card .inner-content{
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px dashed rgb(161,161,161);
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    color: rgb(0, 0, 0);
}
#home .fourth .card .inner-content .card-top{
    /* width: 200px; */
    height: 40px;
    background: blue;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#home .fourth .card .inner-content .card-top img{
    width: 70px;
    top: 5%;
    left: 2.5%;
}
#home .fourth .card .inner-content .card-top h3{
    width: 140px;
    font-weight: 600;
    background: green;
    font-size: 15px;
    
}
#home .fourth .card .inner-content h4{
    width: max-content;
    margin: 15px auto;
    /* color: rgb(0, 0, 0); */
}
#home .fourth .card .inner-content p{
    width: 250px;
    color: rgb(103, 103, 103);
    font-size: 15px;
}

#home .fourth .one{
    right: 150px;
    top: 150px;
}
#home .fourth .two{
    left: 550px; 
    bottom: 100px;
    position: absolute;
}
#home .fourth img{
    position: absolute;
     top: 280px;
     width: 400px;
}
#home .fourth .three{
    left: 120px;
    top: 330px;
    position: absolute;
}
#home .fifth{
    width: 100vw;
    height: 700px;
    background: url(../../assets/images/footer-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .fifth h2{
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#home .fifth p{
    margin-bottom: 15px;
    font-size: 18;
    color: rgb(255, 255, 255);

}
#home .fifth .projects{
    width: 87vw;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#home .fifth .projects .container{
    width: 33%;
    height: 100%;
    background: red;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 5px #000c02d8;
    padding: 15px;
}
#home .fifth .projects .container img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
#home .fifth .projects .container h3{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#home .fifth .projects .container  p{
    color: rgb(255, 255, 255);
    font-size: 13;
    font-weight: 400;
}
#home .other-project{
    width: max-content; 
    height: 30px;
    margin-top: 30px;
    /* background: blue; */
    /* color:rgb(255, 255, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 10px; */
    gap: 10px;
}

#home  .other-project img{
    width: 24px;
    height: 23px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    
    
}
/* #home .fifth .other-project p{
    /* color: white;
    background: yellow;
    margin-top: 7px;
} */
#home .sixth{
    width: 80vw;
    height: 550px;
    background: green;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px auto;
    color: black;
    position: absolute;
    bottom: 3.5%;
    left: 10%;
}
#home .sixth h2{
    font-weight: 600;
    margin-top: 50px;
}
#home .sixth p{
    font-size: 18px;
    margin-top: 20px;
}
#home .sixth .team-details{
    width:70%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-top: 40px;
}
#home .sixth .team-details .imgContainer{
    width: 33%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:7px
}

#home .sixth .team-details .imgContainer .memberpic{
    width: 180px;
    height: 165px;
    border-radius: 50%;
    box-shadow: 1px 5px 12px 5px #D6D8D7;
}
#home .sixth .team-details .imgContainer .name{
    margin-top: 10px;
    font-weight: 600;
}
#home .sixth .more-teams-detail{
    width: 100%;
    height: 100%;
    position: relative;
}
#home .sixth .more-teams-detail img{
    position: absolute;
    top: 8%;
    width: 43px;
    padding: 10px;
    background: rgba(127, 127, 127, 0.505);
    /* border: 1px solid rgb(255,255,255); */
    border-radius: 50%;
}
#home .sixth .more-teams-detail img.left{
    /* top: -10%; */
    
    left: 17%;
}
#home .sixth .more-teams-detail img.right{
    right: 17%;
}


#home .sixth .other-project p{
    color: white;
    /* background: yellow; */
    margin-top: 1px; 
}







